.contact_page {
  border-top: 1px solid var(--dark);
  min-height: 100vh;
}
.contact_page p {
  margin-bottom: 0px;
}

.contact_page .cliped_bg {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -10;
  width: 100%;
  height: 140%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 54%, 0 50%);
}

.contact_page .cliped_bg.updatead_page {
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -10;
  width: 100%;
  height: 140%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 54%, 0 50%);
}

.contact_page .heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: var(--dark);
  padding: 6rem 0rem 2rem 0rem;
}

.contact_page .description {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  color: var(--dark);
  opacity: 0.6;
}

.contactform {
  background-color: var(--white);
  padding: 4rem;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}
.contactform .input_container input,
.input_container textarea {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #183b56;
}
textarea {
  resize: none !important;
}
.contactform .input_container input::-webkit-input-placeholder,
.input_container textarea::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #959ead;
}
.contactform p {
  margin: 0px 0px 4px 4px;
}
.contactform .input_container {
  background: var(--white);
  border: 1px solid #c3cad9;
  border-radius: 8px;
}
.contactform .input_container input,
.input_container textarea {
  padding: 10px;
}
.contactform .input_container .input_label {
  font-weight: 600;
  font-size: 16px;
  color: #5a7184;
}
.contactform .agreement_heading {
  font-size: 16px;
  margin: 1rem 0px;
  line-height: 28px;
  color: #5a7184;
}

.contact_card_container {
  padding: 4rem;
  background-color: #f8f8f8;
}
.contact_card_container .innercard {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between;
  text-align: center;
}
.contact_card_container .innercard .title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2px;
  color: #183b56;
  margin-top: 0.7rem;
}
.contact_card_container .innercard .des {
  font-size: 16px;
  line-height: 28px;
  color: #272727;
  margin-top: 0.7rem;
}
.contact_card_container .innercard .callToAction {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--yello);
  margin-top: 0.7rem;
  cursor: pointer;
}
.contact_card_container .innercard .callToAction.supportStyles {
  border: 2px solid var(--yello);
  border-radius: 8px;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .contact_page .heading {
    font-size: 26px;
    padding: 3rem 0rem 1rem 0rem;
  }

  .contactform {
    padding: 1rem;
    margin: 1rem 0rem;
  }

  .contact_page .description {
    font-size: 16px;
    text-align: justify;
  }
  .contact_page .description br {
    display: none;
  }
}
