.categories_navlinks {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.categories_navlinks .navlink {
  margin: 1rem 1rem 0rem;
  cursor: pointer;
}

.AdCard {
  margin: 3rem 0rem;
}
